.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . . ." ". . . .";
  }

.thumbnail {
    width: 500px;
    height: 500px;
}

.Profils {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Name Thumnail Thumnail" ". Thumnail Thumnail";
    grid-area: Profil;
}

.profil {
    text-align: center;
}